body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: hsl(0, 0%, 100%);
    color: #fff;
    padding: 10px;
    align-items: center;
  }
  
  aside {
    flex: 1;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form horizontally */
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    align-self: center; /* Center the button horizontally */
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  .social-media {
    list-style: none;
    padding: 0;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
  }
  
  .logo {
    height: 170px;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
  }
  
  nav ul li a:hover {
    color: #fd4766;
  }
  
  nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
  }
  
  nav ul li a:hover:after {
    width: 100%;
  }
  
  .btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
  }
  
  .btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
  }
  